body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: gray;
}
section {
  display: flex;
  gap: 1em;
}

a {
  text-decoration: none;
}

.main-wrapper {
  position: relative;
  margin-inline: auto;
  width: 80vw;
  min-height: fit-content;
}

.page-container {
}

.page-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-container {
  display: flex;
  gap: 1em;
}

#tracker-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  height: 3em;
}

#tracker-table,
#tracker-table > * > * > * {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 0.25em;
}

.card {
  background-color: lightgray;
  display: grid;
  align-items: top;
  min-height: 70vh;
  overflow-y: auto;

  grid-template-areas:
    'title collapse'
    'children collapse';

  gap: 0;
}

.collapse-button {
  grid-area: collapse;

  padding: 0.5em;

  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  background-color: lightslategray;
}
.card-title {
  margin: 0;
  padding: 0.5em;
  grid-area: title;
  /* border: 1px solid red; */
  align-self: start;
}

.card-children {
  grid-area: children;
  align-self: start;
  padding: 0.5em;
  /* border: 1px solid blue; */
}

.card-closed {
  display: none;
}

.card-container {
  display: flex;
  flex-direction: column;
}

#tracker-table {
}
#tracker-table {
  overflow-y: auto;
  overflow-x: auto;
}

ul {
  list-style: none;
}

.list-row {
  display: flex;
}

/* .status-cell {
  font-size: 0.5rem;
}

.status-cell:hover {
  font-size: 1rem;
} */
