.button {
  padding: 0 18px;
  appearance: none;
  text-align: left;
  text-decoration: none;
  height: 36px;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  display: inline-block;
  width: auto;
  font-weight: 600;
  position: relative;
  line-height: 1;
  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: var(--bg-light);
  transition: background-color 100ms ease, color 100ms ease;
  color: var(--text-muted);
}
.button:hover {
  background-color: var(--bg-dark);
}
