.character-sheet {
  display: grid;
  gap: 1rem;

  max-width: 100%;

  .header {
    display: grid;
    grid-template-columns: auto auto;

    background: var(--bg);
    .basics {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  input {
    max-width: 20ch;
  }

  .body {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.5rem;

    .left-column {
      display: grid;
      grid-template-columns: auto auto;
      gap: 0.25rem;

      .ability-scores {
        display: grid;
      }
    }

    .center-column {
      display: grid;

      .ac-init-spd {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 0.25rem;
      }

      .hit-dice-saves {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 0.25rem;
      }

      .attacks-spellcasting {
      }

      .equipment {
        display: grid;
        grid-template-columns: repeat(2, auto);

        .money {
          display: grid;
        }
      }
    }

    .right-column {
      display: grid;
    }
  }
}
