body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: gray;
}

.App {
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.card {
  height: 90vh;
  overflow: auto;
  margin: auto;
  padding: 1em;
  background-color: lightgray;
}
#tracker {
  display: flex;
  flex-direction: column;
}

.char-sheet-open {
  border-style: inset;
}
.char-sheet-closed {
  border-style: outset;
}
#tracker-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  height: 3em;
}

#tracker-table,
#tracker-table > * > * > * {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 0.25em;
}

#tracker-table {
  display: block;
}
#tracker-table {
  overflow-y: auto;
  overflow-x: hidden;
}

#char-list {
}

#char-list-table {
  border-style: none;
  border: 0 solid none;
}

ul {
  list-style: none;
}

.list-row {
  display: flex;
}

/* .status-cell {
  font-size: 0.5rem;
}

.status-cell:hover {
  font-size: 1rem;
} */

.character-table {
  padding: 1em;
  width: 100%;
}

.character-table th,
.character-table td {
  border: 1px solid black;
  text-align: center;
}

.char-list-row {
  height: 5em;
}
